@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

body {
    background-color: hsla(219, 15%, 55%, 0.288);
    margin: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Outfit';
}

@media screen and (min-width:375px) {
    .image img {
        width: 90%;
        border-radius: 16px;
        margin-top: 15px;
    }
    .card {
        text-align: center;
        background-color: white;
        margin: 35px 25px;
        width: 340px;
        border-radius: 15px;
    }


    .card h2 {
        padding: 15px;
        margin: 0;
        color: hsl(218, 44%, 22%);
    }
    .card p {
        font-size: 15px;
        padding: 0 20px 26px;
        margin: 0;
        color: hsl(220, 15%, 55%);
    }
}

@media screen and (min-width:1440px) {
    body {
        margin: 100px;
    }

    .card p {
        padding: 30px;
    }
}